@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
}
.logo_img img {
  width: 300px;
  height: 80px;
}
/* 헤더 다리사진 */
.logo2_img img {
  width: 100%;
  height: 300px;
  opacity: 0.8;
  position: relative;
}
.logo2_img h1 {
  color: rgb(57, 56, 56);
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  top: 220px;
  margin-left: 620px;
}
/* 메인 */
.contents {
  margin: 0 auto;
  width: 1200px;
  height: 1300px;
}
.tourpast {
  margin: 0 auto;
}
h1 {
  color: rgb(41, 40, 40);
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
hr {
  width: 200px;
  border: 0;
  height: 4px;
  background: #ccc;
  margin-bottom: 25px;
}
.pastimg {
  text-align: center;
}
.past1 img {
  width: 900px;
  height: 400px;
}
.past2 .past3 img {
  width: 400px;
  height: 250px;
  text-align: right;
}
.past2 {
  margin-top: -70px;
  float: right;
}
.past3 {
  float: left;
  margin-right: 30px;
}
.text1 {
  margin: 0;
  margin-top: 50px;
  width: 1200px;
  height: 250px;
  align-items: center;
}
.text1 span {
  font-size: 25px;
  font-weight: 800;
  align-items: center;
}
.text1 p {
  width: 700px;
  font-size: 20px;
  padding: 10px;
}
.text2 {
  margin: 0;
  width: 1200px;
  height: 250px;
}
.text2 span {
  font-size: 25px;
  font-weight: 800;
}
.text2 p {
  width: 1200px;
  font-size: 20px;
  text-align: centere;
}
/* 푸터영역*/
#footer {
  width: 100%;
  height: 80px;
  background: navy;
}

.foot {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.foot ul {
  width: 900px;
  list-style: none;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.foot ul li {
  color: #fff;
  margin-top: 35px;
  margin-left: 15px;
  padding-right: 13px;
  font-size: 14px;
  border-right: 1px solid #fff;
}
