body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  flex-basis: 17%;
  background-color: cornflowerblue;
}
.ourguTour{
  flex-basis: 20%;
  background-color: aquamarine;
}
.center{
  flex-basis: 83%;
  display: flex;
}
.nav{
  flex-basis: 15%;
  background-color: lightcoral;
}
.section{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
.guTourHeader{
  flex-basis: 10%;
  display: flex;
  justify-content: space-between;
}
.guTourHeaderFiveGu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}
.guTourBody{
  flex-basis: 90%;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
}
.guTourSpot{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.spotResturant{
  flex-basis: 20%;
  background-color: lightpink;
  display: flex;
}
.spot{background-color: aqua;}
.resturant{background-color: blue;}
.spotImgSubtitle{
  flex-basis: 80%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
}
.spotImgBox{
  background-color: ivory;
  display: flex;
  flex-direction: column;
}
.guTourResturant{
  flex-basis: 50%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}

.aside{
  flex-basis: 15%;
  background-color: brown;
}
.footer{
  flex-basis: 10%;
  background-color: lightgreen;
}